@import "_media.scss";
.flex {
  display: flex;
}

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-center {
  display: flex;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
